<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    <title>UCD Bikers</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
</head>
 
<body>
    <header>
        <div class="wrapper">
            <nav>
                <a href="#">UCD Bikers</a>
                <a href="#">Google Maps</a>
                <a href="#">Open Weather</a>
                <a href="#">Dublin Bikes</a>
            </nav>
        </div>    
    </header>
    
    <div id="search-bar">
        <div class="wrapper">
            <form id="search-form" onsubmit=""> 
            		<a class="current-location-button" href="">
                		<img width="16" height="16" src="{{ url_for('static', filename='images/current-location.png') }}">
            		</a>
            		<input type="text" value="Current location...">
            		<a class="search-button" href="">
                		<img width="16" height="16" src="{{ url_for('static', filename='images/search-button.png') }}">
            		</a>
            		<div class="clear"></div>
            </form>  
        </div>
    </div>
    
    
    <div id="weather-bar">
            <h2>Weather bar</h2>
            {{ weather | safe }}
    </div>
  
    <div id="occupancy-bar">
    	<p>test</p>
    </div>

    <div id="main-block">
        <div class="wrapper">
            <div id="station-list">
                <ul>
                    <li class="station-top">
                        <h3>Top Station</h3>
                        <p>Address and station number</p>
                        <ul>
                            <li>Available Bikes</li>
                            <li>Free Stands</li>
                            <li>Capacity</li>
                            <li>Credit card</li>
                            <p></p>
                        </ul>
                    </li>

                    <li class="station-other">
                        <h3>Other Station</h3>
                        <p>Address and station number</p>
                        <ul>
                            <li>Available Bikes</li>
                            <li>Free Stands</li>
                            <li>Capacity</li>
                            <li>Credit card</li>
                            <p></p>
                        </ul>
                    </li>

                    <li class="station-other">
                        <h3>Other Station</h3>
                        <p>Address and station number</p>     
                        <ul>
                            <li>Available Bikes</li>
                            <li>Free Stands</li>
                            <li>Capacity</li>
                            <li>Credit card</li>
                            <p></p>
                        </ul>
                    </li>

                    <div class="clear"></div>
                </ul>
            </div>
            
            <div id="map"></div>
        </div>
    </div>
    
    <footer>
        <div class="wrapper">
                <div id="footer-links">
                    <ul >
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Contact</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>

                <div id="footer-info">
                    <p>@2018 UCD Bikers. All rights reserved.</p>
                </div>
        </div>
    </footer>
    
    <script>
		// script to draw circle on the screen
		function initMap(){
			//initialize the google map and set the center
			var map=new google.maps.Map(document.getElementById('map'),{
				zoom:14,
				center:{lat:53.3439118,lng:-6.2658777}
			});
			// get the data from the flask
			// it's not the ideal way to get data, just a test, will prove at the next level
			positions = {{ locations | tojson | safe }};
			number = {{ number }};
			bike_stands = {{ bike_stands }}
			available_bikes = {{ available_bikes }}
			
		  var circles = positions.map(function(location,i){
		  	return new google.maps.Circle({
		            strokeColor: changeColor(available_bikes[i],bike_stands[i]),
		            strokeOpacity: 0.8,
		            strokeWeight: 1,
		            fillColor: changeColor(available_bikes[i],bike_stands[i]),
		            fillOpacity: 0.5,
		            map: map,
		            center: positions[i],
		            radius: bike_stands[i]*4,
		            clickable: true,
		  	});
		  });
		  circles.forEach(function(element){
		  	// with query to request to the flask
		  	
		  	//var infowindow = new google.maps.InfoWindow({content: loadMore(element.label)});
		  	element.addListener('click',function(){
		  		var infowindow = new google.maps.InfoWindow({
		  		    //content: element.center
		  			content:element.center.toString()
		  			});
		  		loadMore(5);
		  		infowindow.setPosition(element.center);
		  		infowindow.open(map, element);
		  		console.log(element.center.toString());
		  		
		  		});
		  });
		  
			// Add a marker cluster tomanage the markers
			//var markerCluster = new MarkerClusterer(map,markers,{imagepath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'}); 
			
			}
			
		 function loadMore(number){
		 	var xhttp = new XMLHttpRequest();
		 	xhttp.onreadystatechange = function(){
		 		if (this.readyState == 4 && this.status == 200){
		 			console.log(this.responseText)
		 			document.getElementById("occupancy-bar").innerHTML=this.responseText;
		 			}
		 		};
		 	xhttp.open("GET","getdetail?num=number",true);
		 	xhttp.send();
		 }
		 
		 function generateContent(respon){
		 	//return "<div class='info'><h1>"+respon+"</h1></div>"
		 }
	//function change color from red to blue
		function changeColor(num,totalNum){
			var r,b;
			r = Math.round(255*(totalNum-num)/totalNum);
			b = Math.round(255*num/totalNum);
			color = "rgb("+r+",0,"+b+")";
			return color
		}
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcsyUCYwj08f1cku32z86GAq-LgzoY8is&callback=initMap">
    </script>
</body>
    
</html>