<!--Template for prediction chart -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	var chartModel;
	var data;
	var optionsModel;
	
	function drawChart() {
		var initlizeData = {{ predictiondata | safe }};
		var data = google.visualization.arrayToDataTable(initlizeData);
		
		//console.log(initlizeData)
	
	  	optionsModel = {
	  	title: "Predicted availability",
	    legend: {position: 'none'},
        height:300,
	    animation:{
        duration: 1000,
        easing: 'out',
        },
        'tooltip' : {
            trigger: 'none'
            },

	    hAxis: {
                gridlines: { color: 'transparent'},

	    },

        vAxis :{
            viewWindow: {   min: 0,     max: 1},

            ticks: [{v:1, f:'100%'}]
            },

           bar: { groupWidth: '98%'  }

		};
	chartModel = new google.visualization.ColumnChart(document.getElementById('bike_chart'));
	
	chartModel.draw(data, optionsModel);

	}

</script>
<div id="bike_chart" style="width: 100%; height: 100%"></div> 
