<!-- <h2>
 	{{ weekday | safe }}
</h2> -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	var chart;
	var options;
	
	function drawChart() {
		var initlizeData = {{ data | safe }};
		var data = google.visualization.arrayToDataTable(initlizeData);
		
		console.log(initlizeData)
	
	  	options = {
	    title: 'Occupancy at selected station',
	    legend: {position: 'none'},
	    curveType: 'function',

	    hAxis: { ticks: [{v:3.0, f:'03:00'}, {v:6.0, f:'06:00'},{v:9.0, f:'09:00'},{v:12.0, f:'12:00'},{v:15.0, f:'15:00'},{v:18.0, f:'18:00'},{v:21.0, f:'21:00'},{v:24.0, f:'24:00'}],

	    },

        vAxis :{
            viewWindow: {   min: 0,     max: 100},
            gridlines: { count: 2 },
            ticks: [{v:25, f:'25%'},{v:50, f:'50%'},{v:75, f:'75%'},{v:100, f:'100%'}]
            }

		};
		
	function resizeChart () {
	    chart.draw(data, options);
	}
	
	if (document.addEventListener) {
	    window.addEventListener('resize', resizeChart);
	}
	else if (document.attachEvent) {
	    window.attachEvent('onresize', resizeChart);
	}
	else {
	    window.resize = resizeChart;
	}
	
	chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
	
	chart.draw(data, options);
	}

</script>

<div id="curve_chart" style="width: 100%; height: 100px"></div>
