<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	var chart;
	var data;
	var options


    // Create occupancy chart
	function drawChart() {
		var initlizeData = {{ data | safe }};
		var data = google.visualization.arrayToDataTable(initlizeData);

		// Set chart options
	  	options = {
	  	title: "Normal availability",
	    legend: {position: 'none'},
	    height:300,
	    animation:{
        duration: 1000,
        easing: 'out',
        },
        'tooltip' : {
            trigger: 'none'
            },
        // Labels for x-axis
	    hAxis: { ticks: [{v:6.0, f:'06:00'},{v:8.0, f:'08:00'},{v:10.0, f:'10:00'},{v:12.0, f:'12:00'},{v:14.0, f:'14:00'},{v:16.0, f:'16:00'},{v:18.0, f:'18:00'},{v:20.0, f:'20:00'},{v:22.0, f:'22:00'},{v:24.0, f:'24:00'}],
                viewWindow: { min: 5, max: 24},
                gridlines: { color: 'transparent'},

	    },
            
        // Labels for y-axis
        vAxis :{
            viewWindow: {   min: 0,     max: 100},

            ticks: [{v:100, f:'100%'}]
            },

           bar: { groupWidth: '98%'  }

		};
	chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

	chart.draw(data, options);

	}

</script>
<div id="curve_chart" style="width: 100%; height: 100%"></div> 
