<!-- <h2>
 	{{ weekday | safe }}
</h2> -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	var chart;
	var options;
	
	function drawChart() {
		var initlizeData = {{ data | safe }};
		var data = google.visualization.arrayToDataTable(initlizeData);
		
		console.log(initlizeData)
	
	  	options = {
	    title: 'Occupancy at selected station',
	    curveType: 'function',
	    legend: { position: 'bottom' }
		};
		
// 	function resizeChart () {
// 	    chart.draw(data, options);
// 	}
// 	
// 	if (document.addEventListener) {
// 	    window.addEventListener('resize', resizeChart);
// 	}
// 	else if (document.attachEvent) {
// 	    window.attachEvent('onresize', resizeChart);
// 	}
// 	else {
// 	    window.resize = resizeChart;
// 	}
// 		
	chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
	
	chart.draw(data, options);
	}

</script>

<div id="curve_chart" style="width: 100%; height: 100px"></div>
