<!--Template for weatherbar-->

<!--Wrapper for icons and temperatures on top-->
	<div class='row float-right text-white' id='uWrap'>
	</div><!--Wrapper for times on the bottom-->
	<div class='row float-right text-white' id='lWrap'></div>
<script>
   // Construct object with weather data
   obj = {{ weather| safe }};

   // Initialise variables. Weather is icon id
   var weather = obj[0].weather[0].icon;

   // Temp needs to be converted from Kelvin
   var temp = parseInt(obj[0].main.temp -273.15);
   var time = new Date();
   var hours = time.getHours();
   var rtime;

   // Find what 3hr time slot is now and assign to rtime
   if (hours>=0 && hours<3) {
       rtime=0;}
   else if (hours>=3 && hours<6) {
       rtime=3;}
   else if (hours>=6 && hours<9) {
       rtime=6;}
   else if (hours>=9 && hours<12) {
       rtime=9;}
   else if (hours>=12 && hours<15) {
       rtime=12;}
   else if (hours>=15 && hours<18) {
       rtime=15;}
   else if (hours>=18 && hours<21) {
       rtime=18;}
   else if (hours>=21 && hours<24) {
       rtime=21;}

   var disp1 ="";   // Used to form weather icons and temperature
   var disp2 ="";   // Used to form times
   var slot="";     // Time slot value as string

   // Time constructor in form hh:mm
   for (var i = 1; i < 7; i++) {
      if (rtime<10){
          slot = "0"+rtime+":00";
      }
      else {slot = rtime +":00";}
      rtime += 3;
      if (rtime>=24){
          rtime=0;}

       disp1 += "<div class='col-sm-2' style = 'width:92px'><img style = 'width:40px;height:32px' class='img' src='../static/images/weather-icons/" + weather + ".png'>"

       disp1 += "<span style ='font-size:12px'>  "+temp+"&#8451</span></div>";

       disp2 += "<div class='col-sm-2'  style = 'width:92px'>"+slot+"</div>";

	   // Temperature needs to be converted from Kelvin
	   temp = parseInt(obj[i].main.temp -273.15);
	   weather = obj[i].weather[0].icon;

	   }
	   disp2 += "<div class='time'></div>"

   // Apply html to weather bar divs
   document.getElementById("uWrap").innerHTML = disp1;
   document.getElementById("lWrap").innerHTML = disp2;

</script>
